<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- /servers/3?allowEdit=1#loading -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <a routerLink="servers">relative link staring from active page (i.e. /servers/servers)</a> -->
    <!-- <br/> -->
    <!-- <a routerLink="/servers">absolute link staring from root page (i.e. /servers)</a> -->
    <!-- <br/> -->
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button> -->
    <!-- <app-edit-server></app-edit-server> -->
    <!-- <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

